body {
    color: #050505;
}

.jumbotron {
    background-image: url("../images/american-flag.jpg");
    background-size: 100% 100%;
    text-align: center;
}

h5 {
    font-size: 1.5em;
    background-color: rgb(238, 231, 13, 0.6);
    margin: 20px;
    padding: 27px;
}
